/* General Styles */
/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f1e8d7;
}


/* Header */
header {
    color: #000000;
    text-align: center;
    background-image:url('https://i.pinimg.com/736x/2d/3b/7f/2d3b7f0a239a2b4d847d2e247a19d5e6.jpg');
    min-height: 80vh;
}



header h1.custom-font {
    font-size: 52px; /* Make the header larger */
    font-family: 'Quicksand', serif; /* Use a custom font, or load one via Google Fonts */
    font-weight: bold; /* Optional for emphasis */
    color: #000000; /* Optional: Add a color */
    margin-bottom: 10px; /* Reduce spacing between header and following text */
}

header p {
    font-size: 20px; /* Adjust size for other paragraphs */
    line-height: 0.8; /* Make text lines closer together */
    color: #000000; /* Optional: Default text color */
    margin: 10px; /* Remove extra spacing between paragraphs */
    font-weight: bold;
}


/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 15px 20px;
    margin: 0 5px;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* Main Content Sections */
.section {
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
}

.section h2 {
    text-align: center;
    color: #007bff;
}

/* Dynamic Content Styles */
#dynamic-content {
    margin: 20px auto;
    max-width: 1000px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* New Styles for Image and Text Pairing */
.image-text-pair {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    background-color: #ffffff;
}

.image-text-pair img {
    width: 60px;  /* Fixed size for the image */
    height: 60px; /* Fixed size for the image */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover;
    background-position: center;
}

.image-text-pair .text {
    flex: 1;
    margin-left: 20px;
    text-align: left; /* Align text as needed */
}

.image-text-pair + .image-text-pair {
    border-top: 2px solid #000000;
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
}



/* Footer */
footer {
    background-color: #000000;
    color: #ded7dd;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 1rem;
    }
}



